In [8]:
import sqlite3
connect = sqlite3.connect("bdd_finance.db")

In [9]:
cur = connect.cursor()

In [10]:
# creating tables

# equipe
cur.execute("""CREATE TABLE IF NOT EXISTS `equipe` (
  `nom` varchar(100) NOT NULL,
  `style` varchar(100) NOT NULL,
  `chef` varchar(100) NOT NULL,
  PRIMARY KEY (`nom`)
)""")

# transaction
cur.execute("""CREATE TABLE IF NOT EXISTS `transaction` (
  `nom` varchar(100) NOT NULL,
  `nomEquipe` varchar(100) NOT NULL,
  `date` date NOT NULL,
  `lieu` varchar(100) NOT NULL,
  `prix` int(11) NOT NULL,
  PRIMARY KEY (`nom`)
)""")

# trader
cur.execute("""CREATE TABLE IF NOT EXISTS `trader` (
  `nom` varchar(100) NOT NULL,
  `classe_actif` varchar(100) NOT NULL,
  `anneeExperience` int(11) NOT NULL,
  `nomEquipe` varchar(100) NOT NULL,
  PRIMARY KEY (`nom`)
)""")

In [11]:
# populating tables

# equipe
cur.execute("""
INSERT INTO `equipe` (`nom`, `style`, `chef`) VALUES
('equipe1', 'market making', 'Leonardo'),
('equipe2', 'arbitrage', 'Michaelgelo'),
('equipe3', 'trading de volatilite', 'Raphael'),
('equipe4', 'trading haute frequence', 'Donatello'),
('equipe5', 'arbitrage statistique', 'Smith'),
('equipe6', 'arbitrage statistique', 'Smith'),
('equipe7', 'strategie fond de fond', 'Ray');""")

# transaction
cur.execute("""
INSERT INTO `transaction`
(`nom`, `nomEquipe`, `date`, `lieu`, `prix`) VALUES
('Amazon', 'equipe3', '2010-07-12', 'USA', 100),
('Apple Inc', 'equipe1', '2014-09-05', 'USA', 150),
('AXA SA', 'equipe1', '2021-06-15', 'PARIS', 26),
('Dassault Aviation', 'equipe6', '2016-01-01', 'PARIS', 140),
('Dubai Elec', 'equipe3', '2020-11-22', 'DUBAI', 1),
('ETF Vanguard', 'equipe7', '2015-02-22', 'LA', 200),
('Naspers', 'equipe2', '1997-08-16', 'SOUTH AFRICA', 120),
('PetroChina', 'equipe5', '2019-04-20', 'HONG KONG', 10),
('TotalEnergies', 'equipe2', '2004-09-03', 'PARIS', 57);""")

# trader
cur.execute("""
INSERT INTO `trader`
(`nom`, `classe_actif`, `anneeExperience`, `nomEquipe`) VALUES
('Cedrick', 'commodities', 10, 'equipe1'),
('Gaelle', 'exotic', 4, 'equipe3'),
('Georges', 'CDS', 20, 'equipe6'),
('Jordan', 'change', 2, 'equipe2'),
('Patrick', 'action', 10, 'equipe1'),
('Yannick', 'fixed income', 10, 'equipe1');""")

connect.commit()